@import url("https://fonts.googleapis.com/css2?family=Acme&family=Rock+3D&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rampart+One&family=Shrikhand&family=Staatliches&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Fredoka+One&family=Lora:ital,wght@1,600&family=Playfair+Display:ital@1&family=Press+Start+2P&family=Rampart+One&family=Secular+One&family=Shrikhand&family=Staatliches&family=VT323&display=swap");
:root {
  --basic: "Playfair Display";
  --yellow: rgb(223, 223, 134);
}

.nav {
  color: var(--yellow);
  font-family: var(--basic);
  font-weight: bold;
}

a {
  text-decoration: none;
  margin: 10px;
}

.basefont {
  text-align: center;
  background-color: rgb(86, 133, 86);
  color: var(--yellow);
  font-family: var(--basic);
}

a:hover {
  color: rgb(204, 234, 177);
  transition: color 0.4s;
}

nav {
  display: flex;
  justify-content: center;
}

div a {
  color: rgb(16, 78, 9);
  font-size: large;
}

div.maintxt {
  border-style: dashed;
  border-radius: 100px;
  border-color: rgb(255, 212, 113);
  color: rgb(16, 78, 9);
  font-family: "Semi-bold 600 italic";
  background-color: rgb(216, 239, 179);
  padding: 3%;
  margin: 2%;
  background-size: 10%;
}

h2 {
  font-family: "Semi-bold 600 italic";
  letter-spacing: 2px;
}
p {
  font-family: "Semi-bold 600 italic";
  letter-spacing: 2px;
}
div.learning {
  border-radius: 70px;
  background-color: rgb(184, 207, 163);
  padding: 20px;
  margin: 10px;
  background-position-x: left;
  background-position-y: left;
  background-size: 30%;
  background-repeat: no-repeat;
}

h1 {
  letter-spacing: 10px;
  font-style: italic;
}

div.txt {
  border-radius: 60px;
  background-color: rgb(184, 207, 163);
  text-align: left;
  padding: 20px;
  margin: 10px;
  background-size: 10%;
  background-position-x: center;
  background-position-y: center;
}

a.logo {
  color: rgb(39, 52, 38);
  text-align: center;
}
a.logo:hover {
  color: rgb(184, 207, 163);
}

a.instagramlogo {
  color: rgb(39, 52, 38);
  text-align: center;
}
a.instagramlogo:hover {
  color: rgb(184, 207, 163);
}

a.letterlogo {
  color: rgb(39, 52, 38);
  text-align: center;
}
a.letterlogo:hover {
  color: rgb(184, 207, 163);
}

a.gitlogo {
  color: rgb(39, 52, 38);
  text-align: center;
}
a.gitlogo:hover {
  color: rgb(184, 207, 163);
}

body {
  background-image: url("orange.png");
  background-size: 40%;
  line-height: 150%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 10;
  width: 100%;
  text-align: center;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

li:before {
  content: "✩";
  padding-right: 5px;
}
